*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #efefef;
    color: black;
    margin: 0;
}
a{
    text-decoration: none;
    color:#9A9da2;
}
.cleckfix:after{
    display: block;
    clear: both;
    content: "";
}
#title{
    width:100%;
    font-family: "Arial Black";
    font-size: 40px;
    margin-left: 20px;
    position: fixed;
    top:0;
    left:0;
    margin-right: 20px;
    margin-top:10px;
}
#logo{
    padding-top: 1px;
    display: inline;
    font-family: "Arial Black";
    font-size: 24px;
}
#logo>.rs{
    color: #e6686a;
    margin-right: 4px;
}
#logo>.cord{
    color:#9A9da2;
}
#title>nav{
    float:right;
    font-size: 13px;
    padding: 8px 30px 8px 0px;
    line-height: 30px;
}
#title>nav>ul{
    list-style: none;
}
#title>nav>ul>li{
    float: left;
    margin:0px 17px;
}
#title>nav>ul>li a{
    border-bottom: 3px solid transparent;
    padding: 5px 5px;
}
#title>nav>ul>li a:hover{
    border-bottom-color: #dc6465;
}
#bg{
    height:500px;
    background:url(./img/bg.jpg);
    background-position: center center;
    background-size: cover;
}
#black{
    height:500px;
    background:rgba(0,0,0,0.8);
    background-size: cover;
}
main{
    box-sizing: border-box;
    background: white;
    color:black;
    max-width: 940px;
    min-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top:-320px;
    padding: 40px;
}
#photo{
    width: 299px;
    height: 347px;
    float: left;
}
#data{
    float: left;
    margin-left: 65px;
    width: 470px;
}
#data .welcome{
    display: inline-block;
    line-height: 18px;
    text-align: center;
    background: #E6686A;
    color: white;
    font-size: 14px;
    width: 50px;
    height: 20px;
    border-radius:3px;
    padding: 4px;
    margin-bottom: 10px;
    position: relative;
}   
#data .welcome>span{
    display: block;
    border: 10px solid transparent;
    border-left-color: #E6686A;
    border-top-width: 0px;
    width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}
#data>h2{
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    font-size:30px; 
}
#data>p{
    margin-top: 5px;
    margin-bottom: 20px;
}
#data>hr{
    height: 0px;
    border: none;
    border-top: 1px solid #DEDEDE;
}
#data>dl{
    padding-top: 20px;
}
#data>dl>dt,dd{
    float: left;
    padding: 10px 0px;
}
#data>dl>dt{
    width: 30%;
    font-weight: bold;
}
#data>dl>dd{
    width: 70%;
    color: #9da0a7;
}
footer.media{
    background: #E6686A;
    height: 50px;
    max-width: 940px;
    min-width: 560px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 0px;
}
footer.media a{
    border: 1px solid transparent;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0px 10px;
}
body footer.media a:hover{
    background:#CF5D5F;
}
footer.media img{
    height: 40px;
    width: 40px;
    padding: 5px 0px;
}
#download{
    margin-top:30px;
    height: 100px;
    text-align: center;
    position: relative;
}
#download > a:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
#download > a{
    display: block;
    height: 60px;
    width:260px;
    border: 1px solid #CDCFD1;
    background: #EFEFEF;
    text-align:center;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    line-height: 60px;
    color: #3d4451;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: box-shadow 0.1s;
}
body>p{
    color: black;
    text-align: center;
    font-size: 40px;
    margin: 30px 0px;
    
}
section.skills>div>ol{
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: black;
    padding: 50px;
    max-width:960px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
section.skills>div>ol>li{
    display: block;
    float: left;
    width: 420px;
    height: 20px;
    margin: 30px 0px;
}
section.skills>div>ol h3{
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 5px;
}
section.skills>div>ol>li:nth-child(even){
    padding-left: 20px;
}
#progressBar{
    background: #FAE1E1;
    height: 5px;
}
#progress{
    width:0;
    height: 5px;
    background: #E6686A;
}
section>nav{
    text-align: center;
}
section>nav>ol{
    list-style: none;
}
section>nav>ol>li{
    display: inline-block;
    width: 100px;
    cursor: pointer;
}
.worksBar{
    width: 346px;
    height: 5px;
    background: white;
    margin-bottom: 28px;
    border-radius: 2px;
    margin: 5px 447px 0px 1102px;
}
.worksBar>div{
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}
.worksBar>.bar-1{
    margin-left: 30px;
    width: 50px;
  }
  .worksBar>.bar-2{
    margin-left: 126px;
    width: 70px;
  }
  .worksBar>.bar-3{
    margin-left: 206px;
    width: 128px;
  }
div.works{
    box-sizing: border-box;
    max-width: 960px;
    min-width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    position: relative;
}
div.works>.big{
    position: absolute;
    left:15px;
}
div.works>.small>:nth-child(1){
    position: absolute;
    right:15px;
}
div.works>.small>:nth-child(2){
    position: absolute;
    right:15px;
    top:362px;
}
