*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color:white;
    margin: 20px 20px;
}
a{
    text-decoration: none;
    color:#9A9da2;
}
.cleckfix:after{
    display: block;
    clear: both;
    content: "";
}
-----------------------------------
#title{
    font-family: "Arial Black";
    font-size: 24px;
}
#logo{
    padding-top: 1px;
    display: inline;
    font-family: "Arial Black";
    font-size: 24px;
}
#logo>.rs{
    color: #e6686a;
    margin-right: 4px;
}
#logo>.cord{
    color:#9A9da2;
}
nav{
    float:right;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
}
nav>ul{
    list-style: none;
}
nav>ul>li{
    float: left;
    margin:0px 17px;
}
nav>ul>li a{
    border-bottom: 3px solid transparent;
    padding: 5px 5px;
}
nav>ul>li a:hover{
    border-bottom-color: #dc6465;
}

